<p><b><i>       A keto diet is an eating plan that focuses on foods that provide a lot of healthful fats, adequate amounts of
        protein, and very few carbohydrates. The goal is to get more calories from fat than from carbs.
        The diet works by depleting the body of its sugar reserves. As a result, it will start to break down fat for
        energy.
        This results in the production of molecules called ketones that the body uses for fuel. When the body burns
        fats, it can also lead to weight loss.
        There are several types of keto diet, including the Standard Ketogenic Diet and the Cyclical Ketogenic Diet. </i></b>
</p>
<div class keto-diet>
    <p> Keto diet supports-<br>1. Supports weight loss. <br>2. Improves Acne <br> 3. May reduce risk of certain cancers <br>4. May improve heart health <br>5. May protect brain function <br>6. Potentially reduces seizures <br>7. Improves PCOS symptoms <br>
    </p>
</div>